
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="{% static 'image/png' %}" href="{% static 'assets/img/favicon.png' %}">
  <title>Dashboard - TECHNOVA</title>
  
  <link href="{% static 'https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800' %}" rel="stylesheet" />
  <link href="{% static 'https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <script src="{% static 'https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous' %}"></script>
  <link id="pagestyle" href="{% static 'css/soft-ui-dashboard.css' %}" rel="stylesheet">
</head>

<body class="">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
    <div class="container">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="">
        TECHLNNOVA
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      
        
        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">

          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <main class="main-content  mt-0">
    <section class="min-vh-100 mb-8">
      <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
     style="background-image: url('{% static "images/4-720x588.png.webp" %}');">

        {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>
  {% endfor %}
      </div>
      <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10">
          <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">
              <div class="card-header text-center pt-4">
                <h5>Entrez votre nouveau mot de passe </address></h5>
                <P> VOTRE EMAIL EST : {{email}}</P>
              </div>
              
              <div class="card-body">
                <form role="form text-left" method="POST">
                  {% csrf_token %}
                  
                   <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe" >
                  </div>
                   <div class="mb-3">
                    <input type="password" class="form-control" name="passwordconfirm" placeholder="Confirmer votre mot de passe" >
                  </div>
                  
                  
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Envoyer</button>
                  </div>
    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  </main>
  <!--   Core JS Files   -->
<script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/smooth-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/chartjs.min.js' %}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="{% static 'https://buttons.github.io/buttons.js' %}"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/soft-ui-dashboard.min.js?v=1.1.0' %}"></script>
</body>

</html>