{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <title>Dashboard - TECHNOVA</title>
  
  <link href="{% static 'https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800' %}" rel="stylesheet" />
  <link href="{% static 'https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <script src="{% static 'https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous' %}"></script>
  <link id="pagestyle" href="{% static 'css/soft-ui-dashboard.css' %}" rel="stylesheet">
</head>


<body class="">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid pe-0">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="">TECHNNOVA </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
                <li class="nav-item">
                 
                </li>
                <li class="nav-item">
                  
                </li>
               <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
            <a href="{% url 'sign_up' %}" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-light">S'inscrire</a>
          </li>
        </ul>
                <li class="nav-item">
                  
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">Bienvenu</h3>
                  <p class="mb-0">Entrer votre nom d'utilisateur et Mot de passe Pour se Connecter</p>
                </div>
                <div class="card-body">
                  <form role="form" method= "POST">
                    {% csrf_token %}
                    <label>Nom d'utilisateur</label>
                    <div class="mb-3">
                      <input type="text" class="form-control" name= "username" placeholder="Nom d'utilisateur" >
                    </div>
                    <label>Mot de passe</label>
                    <div class="mb-3">
                      <input type="password" class="form-control" placeholder="Mot de passe" name="password">
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                      <label class="form-check-label" for="rememberMe">Se rappeler de moi</label>

                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Se Connecter</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Creer  un Compte?
                    <a href="{% url 'sign_up' %}" class="text-info text-gradient font-weight-bold">s'inscrire</a>
                  
                  </p>
                  <p>Vous avez oublier votre mot de passe
                     <a href="{% url 'addemail' %}" class="text-info text-gradient font-weight-bold">Renitialiser</a>
                  </p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" 
     style="background-image: url('{% static "images/ivancik.jpg" %}');>
</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  
    </div>
  </footer>
  <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <!--   Core JS Files   -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/smooth-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/chartjs.min.js' %}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="{% static 'https://buttons.github.io/buttons.js' %}"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/soft-ui-dashboard.min.js?v=1.1.0' %}"></script>
</body>

</html>